/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */
html {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* HEADER */
header .container {
    display: flex;
}
header #top .container > * {
    margin: 10px 0;
    padding: 0 10px;
    height: 40px;
    display: flex;
    align-items: center;
}
header #logo {
    width: 25%;
}
header #navbar {
    width: 50%;
    justify-content: center;

}
header #login {
    width: 25%;
    justify-content: end;
}


header #bottom .container {
    justify-content: center;
}
header #header-bottom-section {
    margin: 50px 0;
    width: 70%;
    height: 300px;
}









/* DEBUG */

.debug header #top{
    background-color: #add8e6;
}
.debug header #top .container > * {
    background-color: #daa520;
    border: 1px solid black;
}
.debug header #bottom {
    background-color: #00008b;
}
.debug header #bottom #header-bottom-section {
    background-color: #ee82ee;
}